<!doctype html>
<html ng-app>
  <head>
    <title>Learning AngularJS</title>
    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">

	<script src="libs/jquery.js"></script>
	<script src="libs/bootstrap.js"></script>
    <script src="libs/angular.js"></script>
  </head>
  <body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" height="20 px" src="https://docs.angularjs.org/img/angularjs-for-header-only.svg">
	      </a>

	    </div>
	    <p class="navbar-text navbar-right">Exploring <a href="https://www.angularjs.org/" class="navbar-link">AngularJS</a></p>
	  </div>
	</nav>
	<div class="container">
		<div>
			<h3>Playing with ng-Disabled</h3>
			<p>The <span class="label label-primary">ngDisabled</span> directive sets the disabled attribute on the element (typically a form control, e.g. input, button, select etc.) if the expression inside ngDisabled evaluates to truthy.</p>
			<hr/>
			<p><em>Examples</em></p>
			<pre ng-non-bindable>
&lt;div>
	Check me to disable button : &lt;input type="checkbox" ng-model="checked"/>
	&lt;button ng-class="{'btn btn-primary': true, 'disabled': checked}" ng-disabled="checked">Click me&lt;/button>
&lt;/div>
			</pre>
			<p><em>Examples : Live</em></p>
			<div>
				Check me to disable button : <input type="checkbox" ng-model="checked"/><br/>
				<button ng-class="{'btn btn-primary': true, 'disabled': checked}" ng-disabled="checked">Click me</button>
			</div>
			<hr/>
	</div>
</body>
</html>