<!doctype html>
<html ng-app>
  <head>
    <title>Learning AngularJS</title>
    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">

	<script src="libs/jquery.js"></script>
	<script src="libs/bootstrap.js"></script>
    <script src="libs/angular.js"></script>
  </head>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" height="20 px" src="https://docs.angularjs.org/img/angularjs-for-header-only.svg">
	      </a>

	    </div>
	    <p class="navbar-text navbar-right">Exploring <a href="https://www.angularjs.org/" class="navbar-link">AngularJS</a></p>
	  </div>
	</nav>
  <div class="container">
	<div>
		<h3>Playing with ng-Model</h3>
		<p>The <i>ngModel</i> directive binds an input,select, textarea (or custom form control) to a property on the scope using NgModelController, which is created and exposed by this directive.</p>
		<p><em>Examples</em></p>
		<b>ng-model on input</b>
		<p>FirstName: <input type="text" ng-model="firstname"/></p>
		<p><span>Firstname: {{firstname}}</span></p>
		<hr/>
		<b>ng-model on select</b>
		
		<p>Gender: <select ng-model="gender">
			<option value="Male">Male</option>
			<option value="Female">Female</option>
		</select></p>
		<p><span>Gender : {{gender}}</span></p>
		<hr/>
		<b>Providing validation behavior</b>
		<i>required</i>
		<form name="myForm">
			<label>firstname: <input type="text" ng-model="fname" required /></label><br/>
			<p>
			<ul>
			<li><code>firstname: {{fname}}</code><br/></li>
			<li><code ng-if="myForm.$valid">myForm.$valid is <span class="label label-success">{{myForm.$valid}}</span> because firstname is "required" and it is not empty </code>
			<code ng-if="!myForm.$valid">myForm.$valid is <span class="label label-danger">{{myForm.$valid}}</span> because firstname is "required" and it is empty </code><br/></li>
			<li><code ng-if="myForm.$invalid">myForm.$invalid is <span class="label label-success">{{myForm.$invalid}}</span> because firstname is "required" but it is empty </code>
			<code ng-if="!myForm.$invalid">myForm.$invalid is <span class="label label-danger">{{myForm.$invalid}}</span> because firstname is "required" and it is not empty </code><br/></li>
			</ul>
			</p>
		</form>
		<i>ng-minlength / ng-maxlength</i>
		<form name="myForm1">
			<label>age: <input type="number" ng-model="age" ng-required="true" ng-minlength="2" ng-maxlength="3"/></label><br/>
			<p>
			<ul>
			<li><code>age: {{age}}</code><br/></li>
			<li><code ng-if="myForm1.$valid">myForm1.$valid is <span class="label label-success">{{myForm1.$valid}}</span> because age is "required" and <span class="label label-primary">ng-minlength</span>/<span class="label label-primary">ng-maxlength</span> are satisfied </code>
			<code ng-if="!myForm1.$valid">myForm1.$valid is <span class="label label-danger">{{myForm1.$valid}}</span> because age is "required" and <span class="label label-primary">ng-minlength</span>/<span class="label label-primary">ng-maxlength</span> are not satisfied </code><br/></li>
			<li><code ng-if="myForm1.$valid">myForm1.$invalid is <span class="label label-danger">{{myForm1.$invalid}}</span> because age is "required" and <span class="label label-primary">ng-minlength</span>/<span class="label label-primary">ng-maxlength</span> are satisfied </code>
			<code ng-if="!myForm1.$valid">myForm1.$invalid is <span class="label label-success">{{myForm1.$invalid}}</span> because age is "required" and <span class="label label-primary">ng-minlength</span>/<span class="label label-primary">ng-maxlength</span> are not satisfied </code><br/></li>
			</ul>
			</p>
		</form>
		<i>ng-pattern</i> <small>Valid pattern [0-9]{2}[a-zA-Z]{3}, ex: 22BCS </small>
		<form name="myForm2">
			<label>Pattern: <input type="text" ng-model="pattern" ng-pattern="/^[0-9]{2}[a-zA-Z]{3}$/"/></label><br/>
			<p>
			<ul>
			<li><code>age: {{age}}</code><br/></li>
			<li><code ng-if="myForm2.$valid">myForm2.$valid is <span class="label label-success">{{myForm2.$valid}}</span> because age is "required" and <span class="label label-primary">ng-ng-pattern</span>is satisfied </code>
			<code ng-if="!myForm2.$valid">myForm2.$valid is <span class="label label-danger">{{myForm2.$valid}}</span> because age is "required" and <span class="label label-primary">ng-ng-pattern</span>is not satisfied </code><br/></li>
			<li><code ng-if="myForm2.$valid">myForm2.$invalid is <span class="label label-danger">{{myForm2.$invalid}}</span> because age is "required" and <span class="label label-primary">ng-ng-pattern</span>is satisfied </code>
			<code ng-if="!myForm2.$valid">myForm2.$invalid is <span class="label label-success">{{myForm2.$invalid}}</span> because age is "required" and <span class="label label-primary">ng-ng-pattern</span>is not satisfied </code><br/></li>
			</ul>
			</p>
		</form>
	</div>
	</div>
  <body>
  </body>
</html>